@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to our Assignment 2!</h1>
<p>For the Assignment 2 we have a team of two. Utsav and Kushal. While doing this assignment we learned many new things</p>
