@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Lab5!</h1>
<p>Hello! Myself Utsav Jain and I am student of Computer engineering technology, doing my final year.I have leraned many new things in this program</p>
